[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keyboard = "*"
pyserial = "*"
pandas = "*"
dynamixel-sdk = "*"
customtkinter = "*"
matplotlib = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
